<section class="col-12">
    <section class="col-md-8 col-sm-12 offset-md-2">
        <div class="form-group row">
            <label class="col-form-label col-md-4 col-sm-12"> Fichier CSV <span class="text-danger">*</span></label>
            <input type="file" disabled class="form-control col-md-7 col-sm-12">
        </div>
        <div class="form-group row">
            <a class="btn btn-outline-success" href="{{ path('import_csv') }}">Importer le fichier CSV en base de données</a>
        </div>
    </section>
</section>