{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur l'application de gestions des tickets d'appels!{% endblock %}

{% block body %}
    <section class="container border border-info">
        <h1 class="text-info text-center">Gestion des tickets d'appels</h1>

        <!-- code pour les alerts -->
        {% for msg in app.flashes('notice_error') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ msg }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        {% for msg in app.flashes('notice_success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ msg }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        <!-- fin du code pour les alert -->

        <!-- code pour la navbar et son contenu -->
        <ul class="nav nav-tabs m-3" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="import-tab" data-toggle="tab" href="#import" role="tab" aria-controls="import" aria-selected="true">Importer le fichier CSV</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="indic-tab" data-toggle="tab" href="#indic" role="tab" aria-controls="indic" aria-selected="false">Consulter les informations</a>
            </li>
        </ul>
        <div class="tab-content m-3" id="myTabContent">
            <div class="tab-pane fade show active" id="import" role="tabpanel" aria-labelledby="import-tab">
                {{ include('default/importDataForm.html.twig') }}
            </div>
            <div class="tab-pane fade" id="indic" role="tabpanel" aria-labelledby="indic-tab">...</div>
        </div>

    </section>
{% endblock %}
